/* CSS code Portfolio website */

/* General settings to override google's standard CSS */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

/* Navbar CSS code */
nav {
    display: flex;
    width: 100%;
    height: 4rem;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;

    background-color: #16783a;
}
nav ul {
    display: flex;
    flex-direction: row;
    width: 100%;

    list-style-type: none;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    margin-left: 2rem;
}

/* Navbar links animations */
/* About me link */
#nav_aboutme {
    display: inline-block;
    position: sticky;
}
#nav_aboutme::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
#nav_aboutme:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* Project 1 link animation */
#nav_project1 {
    display: inline-block;
    position: relative;
}
#nav_project1::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
#nav_project1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* Project 2 link animation */
#nav_project2 {
    display: inline-block;
    position: relative;
}
#nav_project2::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
#nav_project2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Main CSS code */
main {
    color: black; 
}
/* main_Header CSS code */
header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 5rem;
    border-top: 2px solid darkseagreen;
    border-bottom: 2px solid darkseagreen;
}
header h1 {
    font-size: 45px;
}
#header_h1 {
    margin-top: 5rem;
    font-size: 60px;
}
.header_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    font-size: 20px;

    list-style-type: none;
}
header li {
    margin-left: 2rem;
    margin-right: 2rem;
}
/* About me CSS */
#IMG_aboutme {
    position: absolute;
    width: 30rem;
    margin-top: 5rem;
    margin-left: 5rem;
    z-index: 1;
}
#aboutme_container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    padding-bottom: 2rem;

    background-color: lightgreen;
    border-bottom: 2px solid darkseagreen;
}
#aboutme_container h2 {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 30px;
}
#aboutme_text {
    margin-left: 50%;
    font-size: 18px;
}
/* Project1 1  css*/
#project_1 {
    width: 100%;
}
#IMG_pr1intro {
    margin-top: 2rem;
    width: 30rem;
    margin-left: 31rem;
    margin-bottom: 2rem;
    z-index: 1;
}
#pr1_intro {
    text-align: left;
    width: 50%;
    font-size: 18px;
    margin-left: 25%;
    margin-bottom: 1.5rem;
}
#pr1_introcontainer {
    padding-bottom: 1rem;
    border-bottom: 2px solid darkseagreen;
}
#project_1 h2 {
    font-size: 30px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
#pr1_btn {  
    padding: 0.5rem;
    background-color: #16783a;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    border: black solid 1px;
    margin-left: 46%;
}
/* Project 1 text 1 */
#IMG_pr1text1 {
    width: 25rem;
    position: absolute;
    margin-left: 65rem;
    margin-top: 5rem;
    z-index: 1;
}
#pr1_text1container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;

    background-color: lightgreen;
    border-bottom: 2px solid darkseagreen;
    font-size: 18px;
}
#pr1_text1container h3 {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 25px;
}
#pr1_text1 {
    width: 50%;
    margin-left: 2rem;
}
/* Project 1 text 2 */
#IMG_pr1text2 {
    width: 22rem;
    position: absolute;
    margin-left: 5rem;
    margin-top: 5rem;
    z-index: 1;
}
#pr1_text2container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;

    font-size: 18px;
}
#pr1_text2container h3 {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 25px;
}
#pr1_text2 {
    width: 50%;
    margin-left: 50%;
}
#pr1_text2 ul {
    margin-left: 1.5rem;
}
/* Conclusion css */
#pr1_endingcontainer {
    border-bottom: 2px solid darkseagreen;
}
#pr1_endingcontainer h3 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 25px;
}
#pr1_ending {
    text-align: left;
    width: 50%;
    font-size: 18px;
    margin-left: 25%;
    margin-bottom: 1.5rem;
}

/* Project 2 CSS */
/* Project 2 intro css */
#project_2 {
    width: 100%;
}
#IMG_pr2intro {
    margin-top: 2rem;
    width: 30rem;
    margin-left: 31rem;
    margin-bottom: 2rem;
    z-index: 1;
}
#pr2_intro {
    text-align: left;
    width: 50%;
    font-size: 18px;
    margin-left: 25%;
    margin-bottom: 1.5rem;
}
#pr2_introcontainer {
    padding-bottom: 1rem;
    border-bottom: 2px solid darkseagreen;
    background-color: lightgreen;
}
#project_2 h2 {
    padding-top: 2rem;
    font-size: 30px;
    margin-bottom: 2rem;
    text-align: center;
}
#pr2_btn {  
    padding: 0.5rem;
    background-color: #16783a;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    border: black solid 1px;
    margin-left: 46%;
}
/* Project 2 text 1 */
#IMG_pr2text1 {
    width: 15rem;
    position: absolute;
    margin-left: 65rem;
    margin-top: 4rem;
    z-index: 1;
}
#pr2_text1container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;

    border-bottom: 2px solid darkseagreen;
    font-size: 18px;
}
#pr2_text1container h3 {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 25px;
}
#pr2_text1 {
    width: 50%;
    margin-left: 2rem;
}
/* Project 1 text 2 */
#IMG_pr2text2 {
    width: 22rem;
    position: absolute;
    margin-left: 5rem;
    margin-top: 5rem;
    z-index: 1;
}
#pr2_text2container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;

    background-color: lightgreen;
    font-size: 18px;
}
#pr2_text2container h3 {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 25px;
}
#pr2_text2 {
    width: 50%;
    margin-left: 50%;
}
#pr2_text2 ul {
    margin-left: 1.5rem;
}
/* Conclusion css */
#pr2_endingcontainer {
    border-bottom: 2px solid darkseagreen;
    background-color: lightgreen;
}
#pr2_endingcontainer h3 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 25px;
}
#pr2_ending {
    text-align: left;
    width: 50%;
    font-size: 18px;
    margin-left: 25%;
    margin-bottom: 1.5rem;
}


/* Footer CSS code */
/* Navbar CSS code */
footer {
    display: flex;
    width: 100%;
    height: 2.5rem;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;

    background-color: #16783a;
}
footer ul {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: center;
    list-style-type: none;
}
footer a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
}
footer li {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    margin-left: 2rem;
}

/* Navbar links animations */
/* About me link */
#footer_linkedin {
    display: inline-block;
    position: sticky;
}
#footer_linkedin::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
#footer_linkedin:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* Project 1 link animation */
#footer_github {
    display: inline-block;
    position: relative;
}
#footer_github::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
#footer_github:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
